# package directories
node_modules/
jspm_packages
package-lock.json

# Serverless directories
.serverless
.env

# Webpack and distribution directories
.webpack
dist
test-out

# Unit test output
.nyc_output
coverage
output
jest-html-reporters-attach/
jest_html_reporters.html

# Other
.DS_Store
.env-lcl.json
.env-dev.json
